div #one {
 height:100px;
 width:100px;
 background-color:red;
}

div #two {
 height:100px;
 width:100px;
 background-color:yellow;
}

div #three {
 height:100px;
 width:100px;
 background-color:green;
}